body {
  background-color: #999;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}
#captcha {
  width: 40em;
  position: relative;
  top: 5em;
  left: 5em;
  background-color: rgba(30,30,90,0.8);
  padding: 1em;
  border-radius: 2em;
  color: #fff;
}
#captcha input {
  font-size: 20px;
  font-weight: 700;
}
#captcha input[type="text"] {
  width: 2em;
  text-align: center;
}
#captcha .text {
  border: 0.25em dashed rgba(255,255,60,0.8);
  padding: 1em;
}
h1, h2, h3, h4, h5, h6 { 
  margin: 0.1em 0;
  font-family: "Droid Sans", sans-serif;
}
#captcha:before{
  width: 39em;
  height: 1.5em;
  padding: 0.5em;
  position:absolute;
  display: inline-block;
  border-radius:3em;
  content: attr(data-content);
  top:-4em;
}
#captcha.pass:before{
  background-color: rgba(30,90,30,0.8);
}
#captcha.fail:before{
  background-color: rgba(90,30,30,0.8);
}